= as_of_banner Hotel
= form_tag hotels_path, :method => :get, :remote => true do
  %fieldset{:style=>"width:40%;"}
    = label :sort_column, "Sort By:", :style=> "padding-left:40px;"
    = radio_button_tag("sort_column", "Name", true)
    Name
    = radio_button_tag("sort_column", "Description", true)
    Description
    = radio_button_tag("sort_column", "Star_rating", true)
    Star rating
    %span{:style=>"padding-left:20px;padding-right:20px;"} ~
    = check_box_tag("ascending", 1, true, :style =>"padding-left:100px;")
    Ascending?
    %span{:style=>"padding-left:20px;padding-right:20px;"}
    = submit_tag "Sort"
#hotels
  = render "hotels"
